<% if current_user %>
	<%= link_to "Sair", destroy_user_session_path, 'data-turbo-method': :delete %>
	<p>Olá, <%= current_user.email%>! você está conectado como <%= current_user.role %>!</p>
	<% if current_user.admin? %>
		<p>Há <%= User.count %> usuários salvando e compartilhando Pins!</p>
	<%end%>
<%else%>
	<%= link_to "Entre", new_user_session_path %>
	<%= link_to "Cadastre-se", new_user_registration_path %>
<%end%>

<h1>Lista de Pins</h1>

<% @pins.each do |pin| %>
	<li><%= link_to pin.title, pin %></li>
<% end %><br>

<li><%= link_to "Novo Pin", new_pin_path %></li>
