<% if current_user %>
	<p>Olá, <%= current_user.email%>! você está conectado como <%= current_user.role %>!</p>
	<% if current_user.admin? %>
		<p>Há <%= User.count %> usuários salvando e compartilhando Pins!</p>
	<% end %>
<% end %>

<h1>Lista de Pins</h1>

<% @pins.each do |pin| %>
	<%= link_to pin.title, pin %></br>
<% end %><br>

</br><%= link_to "Novo Pin", new_pin_path %>
