<h1><%= @pins.title %></h1>

<p><%= @pins.description %></p>

<p>Enviado por <%= @pins.user.email%>, no dia <%= @pins.user.created_at.time.day %>/<%= @pins.user.created_at.time.month %>/<%= @pins.user.created_at.time.year %></p>

<li><%= link_to "Editar Pin", edit_pin_path(@pins) %></li>
<li><%= link_to "Apagar Pin", pin_path(@pins), data:{turbo_method: :delete, turbo_confirm: "Confirmar"} %></li>
<li><%= link_to "Voltar", root_path %></li>

